/Clase_1_HolaMundo/nbproject/private/
/Clase_1_HolaMundo/build/
/clase4/nbproject/private/
/clase4/build/
/Ejercicio1/nbproject/private/
/Ejercicio1/build/
/Ejercicio4/nbproject/private/
/Ejercicio4/build/
/EntregaGuia4/EjercIcioMatrices2A/nbproject/private/
/EntregaGuia4/EjercIcioMatrices2A/build/